body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainDiv {
  background-color: white;
  height: 50vh;
  width: 100%;
  text-align: left;
}

.anesthesiaForm {
  margin: 10px;
}

label {
  white-space: nowrap;
  vertical-align: top;
}

td {
  vertical-align:top;
}